{% block sidebar_content %}
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-title"> </li>

                <li class="nav-item">
                    <a class="nav-link" href="/telephone/admin">
                        <i class="fas fa-user-tie"></i> Admin
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/telephone/user">
                        <i class="fas fa-user-friends"></i> Mittarbeiter
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/telephone/customer">
                        <i class="fas fa-users"></i></i> Kunden
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/telephone/phone_command">
                        <i class="fas fa-headset"></i> Telefonkommandos
                    </a>
                </li>

                <li class="nav-item mt-auto">
                    <a class="nav-link nav-link-success" href="/telephone/create/user">
                        <i class="fas fa-user-plus"></i></i> Benutzer erstellen
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-primary" href="/telephone/create/phone_command">
                        <i class="fas fa-phone"></i> Telefonkomm. erstellen
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-danger" href="/telephone/option">
                        <i class="fas fa-cogs"></i> Optionen
                    </a>
                </li>
            </ul>
        </nav>
{% endblock %}