{% block sidebar_content %}
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-title"> </li>

                <li class="nav-item">
                    <a class="nav-link" href="/telephone/admin">
                        <i class="fas fa-user-tie"></i> Admin
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/telephone/customer">
                        <i class="fas fa-users-cog"></i> Kunden
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/telephone/user">
                        <i class="fas fa-users-cog"></i> Mittarbeiter
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/telephone/phone_command">
                        <i class="fas fa-users-cog"></i> Telefonkommandos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/telephone/user">
                        <i class="fas fa-users-cog"></i> Soptphone einrichten
                    </a>
                </li>


                <li class="nav-item">
                    <div class="callout callout-warning">
                        <small class="text-muted">Admins</small><br>
                        <strong class="h4">78,623</strong>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="callout callout-danger">
                        <small class="text-muted">Mittarbeiter</small><br>
                        <strong class="h4">78,623</strong>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="callout callout-primary">
                        <small class="text-muted">Kunden</small><br>
                        <strong class="h4">78,623</strong>
                    </div>
                </li>


                <li class="nav-item mt-auto">
                    <a class="nav-link nav-link-success" href="/telephone/create/user">
                        <i class="fas fa-cogs"></i>Benutzer erstellen
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-danger" href="/telephone/option">
                        <i class="fas fa-cogs"></i>Optionen
                    </a>
                </li>
            </ul>
        </nav>
{% endblock %}