{% extends 'frontend/index.twig' %}

{% block main_content %}

    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Vorname</th>
            <th scope="col">Nachname</th>
            <th scope="col">Tel.</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Bearbeiten</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>987987987</td>
            <td>otto@nbsp.de</td>
            <td>
                <a href="#">
                    <i style="color: black" class="fas fa-pencil-alt"></i>
                </a>
                <a href="#">
                    <i style="color: red" class="fas fa-minus-circle"></i>
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>987987987</td>
            <td>otto@nbsp.de</td>
            <td>
                <a href="#">
                    <i style="color: black" class="fas fa-pencil-alt"></i>
                </a>
                <a href="#">
                    <i style="color: red" class="fas fa-minus-circle"></i>
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>987987987</td>
            <td>otto@nbsp.deo</td>
            <td>
                <a href="#">
                    <i style="color: black" class="fas fa-pencil-alt"></i>
                </a>
                <a href="#">
                    <i style="color: red" class="fas fa-minus-circle"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>


{% endblock %}

