{% extends 'frontend/index.twig' %}

{% block main_content %}

    <div class="card">
        <div class="card-header">Benutzer Panel</div>
        <div class="card-body">
            Hier können Sie Neue Benutzer Anlegen
        </div>
    </div>

    <form>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Vorname</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Nachname</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Benutzername</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">E-Mail</span>
            </div>
            <input type="text" class="form-control"aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Telefonnummer</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Rufweiterleitung</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Rechte</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
                <option selected>Auswählen...</option>
                <option value="1">Mittarbeiter</option>
                <option value="2">Kunde</option>
                <option value="3">Admin</option>
            </select>
        </div>



        <button type="submit" class="btn btn-primary">Speichern</button>
    </form>

{% endblock %}

